$gray: #bdbdbd;
$lightGray: #e0e0e0;
$veryLightGray: #9797971a;
$veryLightGray-2: #f2f2f2;

$darkBrown: #544439;
$veryDarkBrown: #291507;
$brownTown: #4d270c;
$lightBrown: #29150799;
$darkGrayishBrown: #7f736a;

$softOrange: #dec68b;
$lightGrayishOrange: #e3e1dc;

$darkBlue: #050709;

$black: #000000;
$white: #ffffff;
