@use "../helpers/mixins" as *;

.no-breed-found {
  margin: 0 auto;

  width: fit-content;

  flex-wrap: wrap;
  gap: 8px;

  @include mobile-break {
    justify-content: center;

    > .error-msg {
      text-align: center;

      line-height: 23px;
    }
  }

  > img {
    width: 115px;

    margin: 0 auto;
  }
}
